:root {
    --main-color: #22c55e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}

@media (max-width:767px) {
    .container {
        width: 100%;
    }
}

@media (min-width:992px) {
    .container {
        width: 100%;
    }
}

.smart-sensor {
    min-height: 100vh;
    background-image: url(../images/nature-landscape-green-plants-wallpaper-preview.jpg);
    background-size: cover;
    position: relative;
}

.smart-sensor .overlye {
    background-color: rgb(0 0 0 / 60%);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
}


.smart-sensor .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    position: relative;
}

.smart-sensor .header .logo img {
    width: 130px;
    padding: 30px;
}

.smart-sensor .header .links {
    margin-right: 25px;
    font-size: 20px;
    color: white;
    list-style: none;
    text-align: right;
}
@media (max-width:767px) {
    .smart-sensor .header .links {
        margin-right: 5px;
    }
}

.smart-sensor .header .links li {
    padding: 15px;
    transition: 0.3s;
    display: inline-block;
    cursor: pointer;
}

@media (max-width:767px) {
.smart-sensor .header .links li {
       padding: 5px;

}
}

.smart-sensor .header .links .active,
.smart-sensor .header .links li:hover {
    color: var(--main-color);
}

.smart-sensor .text {
    text-align: center;
    z-index: 2;
    color: white;
    position: relative;
    margin-top: 80px;
}

.smart-sensor .text h2 {
    font-size: 30px;
}

.smart-sensor .text span {
    color: var(--main-color);
}


.smart-sensor .text p {
    line-height: 1.6;
    font-size: 20px;
    color: #ccc;
    width: 600px;
    display: inline-block;
    margin: 25px auto;
}

@media (max-width:767px) {
    .smart-sensor .text p {
    width: 100%;
    max-width: 600px;
    word-wrap: break-word;
}
}

/* start About */
.about{
    padding-top: 50px;
    padding-bottom: 50px;
}
.about h1{
    position: relative;
    text-align: center;
}

.about h1::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    background-color: #333;
    height: 2px;
    bottom: -20px;
}

.about h1::after{
    content: '';
    position: absolute;
    border: 2px solid #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
    background-color: white;

}
.about .container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    gap: 10px;
}
@media (max-width:578px) {
.about .container{
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));

}
}
.about .box{
    text-align: center;
    padding-top: 50px;
    display: flex; 
    align-items: center; 
}
@media (max-width:578px) {
.about .box{
    display: block; 

}}
.about .box .images img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 20px;
}
@media (max-width:578px) {
.about .box .images img{
    margin-left: 0;

}}
.about .box p{
    line-height: 1.6; 
    color: #777;
    font-weight: bold;
    margin-left: 35px;
   width: 350px; 
}
@media (max-width:578px) {
.about .box p{
        position: relative;
        left:  40%;
        transform: translateX(-50%);
        margin-top: 15px;
}}
/* End About */

/* Start Servers */
.servers{
    background: #ececec;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px; 
    overflow-x: hidden;
}
.servers h1{
    position: relative;
    text-align: center;
}
.servers h1::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 120px;
    background-color: #333;
    height: 2px;
    bottom: -20px;
}
.servers h1::after{
    content: '';
    position: absolute;
    border: 2px solid #333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: -28px;
    background-color: white;
}
.dashboard-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 80px auto;
    max-width: 800px;
    padding: 20px;
}

.status-indicators {
    display: grid;
    grid-template-columns: repeat(4, 1fr);        
    gap: 15px;
    margin-bottom: 20px;

}

@media (max-width:578px) {

.status-indicators {
grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}}

.status-item {
    text-align: center;
    background-color: #ccc;
    border-radius: 6px;
}

@media (max-width:578px) {
.status-item {
    width: 50%;
    margin-left: 100px;
}}

.status-item p{
    font-weight: bold;
    font-size: 17px;
    margin: 15px 0;
}

@media (max-width:578px) {

.status-item p{
    font-size: 20px;
    margin: 10px 0;
}}

.chart-container {
    height: 180px;
    margin: 15px 0;
}

@media (max-width:578px) {

#moisture,
#temperature,
#humidity,
#irrigation{
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 10px;
}}

button {
    background-color: var(--main-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    font-size: 17px;
}

button:disabled {
    background: #cccccc;
}

#irrigation {
    color: #2196F3;
    font-weight: bold;
    margin-bottom: 15px;
}
/* End servers */
.footer{
    text-align: center;
    padding: 20px;
    background-color: var(--main-color);
    color: white;
    font-size: 20px;
    font-weight: bold;
}


/* 
